@import 'vars';

.footer-mobile{
    bottom: 0px;
    background: $--black;
    display: flex;
    flex-direction: column;
}

@media (min-width: 771px){
    .footer-mobile{
        display: none;
        background: powderblue;
    }
}