@import 'vars';

.header{
    background-color: $--black;
    display: flex;
    flex-direction: column;
}

.header_skip-link{
    background: $--kawasaki_green;
    border-radius: 0 0 15px 15px;
    align-self:  center;
    width: 200px;
    height: 50PX;
    text-decoration: none;
    color: $--black;
    transform: translateY(-51px);
    transition: transform 0.3S;
    text-align: center;
}

.header_skip-link:focus , .header_skip-link:active{
    transform: translate(51px);
    outline: 4px solid $--kawasaki_green ;
}